table {
  display: table;
  font-size: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 500px;
  border-radius: 8px;
}

.table-name {
  text-align: center;
  color: var(--main-bg-color);
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 2.25rem;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-radius: 8px;
}

th {
  padding: 11px;
  background-color: var(--main-bg-color);
  color: white;
  display: table-cell;
  border: 1px solid var(--main-bg-color);
  text-align: center;
}

tr {
  background-color: #f2f2f2;
  display: table-row;
  vertical-align: inherit;
}

td {
  border: 1px solid var(--main-bg-color);
  text-align: center;
  padding: 1rem;
}
